In [3]:
import sqlite3
from pathlib import Path

full_database_path = 'data/test.db'

In [3]:
print(sqlite3.version)

2.6.0

In [4]:
print(sqlite3.sqlite_version)

3.32.3

In [4]:
connectionEstablished = False
con = sqlite3.connect(full_database_path)
try:
    cur = con.cursor()
    connectionEstablished = True
except Exception as e:
    print(e)

In [74]:
print(connectionEstablished)

True

In [11]:
# Constrain for "Id" has to be "INTEGER PRIMARY KEY"
# to result in auto-increment column
cur.execute('''CREATE TABLE IF NOT EXISTS person (
               Id INTEGER PRIMARY KEY,
               LastName TEXT NOT NULL,
               FirstName TEXT,
               DateOfBirt TEXT)''')

cur.execute('''SELECT * FROM person''')
con.commit()
cur.fetchall()

[]

In [29]:
cur.execute('''INSERT INTO person VALUES (
               NULL,
               "Baumann",
               "Jan",
               "1900-01-01")''')
cur.execute('''SELECT * FROM person''')
con.commit()
cur.fetchall()

[(1, 'Baumann', 'Jan', '1900-01-01')]

In [16]:
cur.execute('''INSERT INTO person VALUES (
               NULL,
               "Baumann",
               "Jan",
               "1900-01-01");
               
               INSERT INTO person VALUES (
               NULL,
               "Pavicic",
               "Aleksandar",
               "1900-01-01");
               ''')
con.commit()

Warning: You can only execute one statement at a time.

In [30]:
cur.executescript('''
    INSERT INTO person VALUES (
    NULL,
    "Pavicic",
     "Aleksandar"
    "1900-01-01");
    
    INSERT INTO person VALUES (
    NULL,
    "Pearson",
    "Michael",
    "1900-01-01");
    
    INSERT INTO person VALUES (
    NULL,
    "Fahr",
    "Alec",
    "1900-01-01");
    ''')
cur.execute('''SELECT * FROM person''')
cur.fetchall()

[(1, 'Baumann', 'Jan', '1900-01-01'),
 (2, 'Pavicic', 'Aleksandar', '1900-01-01'),
 (3, 'Pearson', 'Michael', '1900-01-01'),
 (4, 'Fahr', 'Alec', '1900-01-01')]

In [31]:
def idGen(min, max):
    for i in range(min, max+1):
        yield (i,)

cur.executemany('''DELETE FROM person WHERE Id == (?)''', idGen(2, 4))
cur.execute('''SELECT * FROM person''')
cur.fetchall()

[(1, 'Baumann', 'Jan', '1900-01-01')]

In [40]:
values = [(None, "Pavicic""", "Aleksandar""", "1900-01-01"),
          (None, "Pearson", "Michael""", "1900-01-01"),
          (None, "Fahr", "Alec", "1900-01-01")]
cur.executemany('''INSERT INTO person VALUES (?, ?, ?, ?)''', values)

In [65]:
cur.execute('''SELECT COUNT() FROM person''')
data = cur.fetchone()
numrows = data[0]
print(numrows)

4

In [80]:
cur.execute('''SELECT * FROM person''')
for i in range(numrows):
    print(cur.fetchone())

(1, 'Baumann', 'Jan', '1900-01-01')
(2, 'Pavicic', 'Aleksandar', '1900-01-01')
(3, 'Pearson', 'Michael', '1900-01-01')
(4, 'Fahr', 'Alec', '1900-01-01')

In [5]:
cur.close()
try:
    cur.execute('''SELECT * FROM person''')
except Exception as e:
    print(e)

Cannot operate on a closed cursor.